:root{
    --main-bg-color: #ffffff;
    --alternate-bg-color: #e5e5e5;
    --main-color: #000000;
    --accent-color: #fca311;
    --overlay-background: #ffffff;
    --navbar-color: #14213d;

    --title-font-size: 2rem;
    --subtitle-font-size: 1.25rem;

    --overlay-title-font-size: 3.5rem;
    --overlay-subtitle-font-size: 2rem;
    --overlay-font-size: 2rem;
    --overlay-margin: 2rem;
    --overlay-padding: 2rem;

    --card-direction: row;
    --card-image-max-dim: 15rem;

    --navbar-display: flex;
    --navbar-direction: row;
    --navbar-justify-content: flex-start;
    --navbar-align-items: start;
    --navbar-height: 5rem;
    --navbar-font-size: 1.5rem;
    --max-articles-margin-bottom: auto;

    --dropdown-margin-sides: 3rem;

    --color-dropdown-content-left-margin: 1rem;

    --watermark-opacity: 0.16;

    --color-buttons-size: 1rem;
    --color-buttons-margin: 0.25rem;
    --color-buttons-padding: 0.25rem;
    --color-buttons-border-size: 2px;

    --footer-font-size: 1.5rem;
}


/* ##Device = Low Resolution Tablets, Mobiles */
@media (max-width: 650px) {
    :root{
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1.25rem;

        --overlay-title-font-size: 2.0rem;
        --overlay-subtitle-font-size: 1.25rem;
        --overlay-font-size: 1rem;
        --overlay-margin: 1rem;
        --overlay-padding: 1.5rem;

        --card-direction: column;
        --card-image-max-dim: 90%;

        --navbar-display: flex;
        --navbar-direction: column;
        --navbar-justify-content: center;
        --navbar-align-items: center;
        --navbar-height: auto;
        --navbar-font-size: 1.25rem;
        --max-articles-margin-bottom: 2rem;

        --dropdown-margin-sides: 0;

        --color-dropdown-content-left-margin: -60%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: Lato;
    color: var(--main-color);
    background-color: var(--alternate-bg-color);

    /* -webkit-touch-callout: none;    iOS Safari */
    /* -webkit-user-select: none;      Safari */
     /* -khtml-user-select: none;      Konqueror HTML */
       /* -moz-user-select: none;      Old versions of Firefox */
        /* -ms-user-select: none;      Internet Explorer/Edge */
            /*user-select: none;      /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */

}

footer{
    font-size: var(--footer-font-size);
    margin: 1rem;
    padding: 1rem;
}

input[type="checkbox"]{
    width: 1.25rem;
    height: 1.25rem;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
a.card{
    width: 90vw;

    display: flex;
    flex-direction: var(--card-direction);
    align-items: center;
    justify-content: flex-start;

    padding: 1rem;
    margin: 1rem;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    text-decoration: none;

    border-left: 5px solid var(--accent-color);
    border-radius: 5px;

    -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
}
a.card > img{
    max-height: var(--card-image-max-dim);
    max-width: var(--card-image-max-dim);
    margin: 1rem;
    /* border: 1px solid black; */
    border-radius: 5px;
}
a.card > div > h2.title{
    font-size: var(--title-font-size);
}
a.card > div > p.subtitle{
    font-size: var(--subtitle-font-size);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0;  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
#overlay > div{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90vw;
    height: 80%;
    background-color: var(--overlay-background);
    z-index: 2;
    font-size: var(--overlay-font-size);

    border-radius: 5px;
    line-height: calc(var(--overlay-font-size) * 1.5);

    margin: var(--overlay-margin);
    padding: var(--overlay-padding);
    padding-top: 2rem;
}
.overlay_title{
    font-size: var(--overlay-title-font-size);
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    line-height: calc(var(--overlay-title-font-size) + 0.5rem);

}
.overlay_subtitle{
    font-size: var(--overlay-subtitle-font-size);
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    line-height: calc(var(--overlay-subtitle-font-size) + 0.5rem);

}
.overlay_image{
    max-width: 75%;
    position: relative;
    left: 12.5%;
    font-size: 0.75rem;
}
.overlay_date{
    margin: 0;
    padding: 0;
}
.overlay_close{
    position: fixed;
    top:12.5%;
    right: 7.5%;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}


.endi{
    position: relative;
    background: var(--main-bg-color);
    overflow: hidden;
}
.endi::before{
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: var(--watermark-opacity);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/El_Nuevo_D%C3%ADa_%282019-11-01%29.svg/1200px-El_Nuevo_D%C3%ADa_%282019-11-01%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}

.vocero{
    position: relative;
    background: var(--main-bg-color);
    overflow: hidden;
}
.vocero::before{
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: var(--watermark-opacity);
    background-image: url(https://bloximages.newyork1.vip.townnews.com/elvocero.com/content/tncms/custom/image/ebb7a5b0-72fc-11ea-8239-a3651fb650c6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}

.primera_hora{
    position: relative;
    background: var(--main-bg-color);
    overflow: hidden;
}
.primera_hora::before{
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: var(--watermark-opacity);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/66/Primera_Hora_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}

.metropr{
    position: relative;
    background: var(--main-bg-color);
    overflow: hidden;
}
.metropr::before{
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: var(--watermark-opacity);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Metro_International_Logo.svg/1200px-Metro_International_Logo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}

.claridad{
    position: relative;
    background: var(--main-bg-color);
    overflow: hidden;
}
.claridad::before{
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: var(--watermark-opacity);
    background-image: url(https://www.claridadpuertorico.com/wp-content/uploads/2019/02/logo-CLARIDAD-60.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}



.navbar {
    /* position: fixed; */
    /* top: 0px; */
    font-size: var(--navbar-font-size);
    max-height: var(--navbar-height);
    width: 100%;
    background-color: var(--navbar-color);
    /* overflow: auto; */
    display: var(--navbar-display);
    flex-direction: var(--navbar-direction);
    justify-content: var(--navbar-justify-content);
    align-items: var(--navbar-align-items);
    z-index: 1;
    padding: 1rem;
}

.navbar > * {
    font-size: var(--navbar-font-size);
    padding: .75rem;
    color: var(--main-color);
    text-decoration: none;
    background-color: var(--main-bg-color);
    /* margin: auto; */
}
#max_articles{
    width: 5rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: var(--navbar-font-size);
    margin:auto;
    margin-bottom: var(--max-articles-margin-bottom);
    padding: .75rem;
    -webkit-box-shadow: 0px 0px 2px 2px var(--accent-color);
    -moz-box-shadow: 0px 0px 2px 2px var(--accent-color);
    box-shadow: 0px 0px 2px 2px var(--accent-color);

}
#max_articles:focus{
    border:none;
    -webkit-box-shadow: 0px 0px 5px 5px var(--accent-color);
    -moz-box-shadow: 0px 0px 5px 5px var(--accent-color);
    box-shadow: 0px 0px 5px 5px var(--accent-color);
}
#keyword_search{
    width: min(100%, 20rem);
    border: none;
    border-radius: 5px;
    margin-bottom: var(--max-articles-margin-bottom);
    -webkit-box-shadow: 0px 0px 2px 2px var(--accent-color);
    -moz-box-shadow: 0px 0px 2px 2px var(--accent-color);
    box-shadow: 0px 0px 2px 2px var(--accent-color);
}

/* .navbar > *:hover {
    transition: background-color 0.4s;
    background-color: #000000;
} */



.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: none;
    margin: 0 var(--dropdown-margin-sides);
    margin-bottom: 1rem;
    padding: 0;
}
.dropbtn {
    font-size: var(--navbar-font-size);
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    margin: 0;
    padding: .75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropbtn:focus, .dropbtn:active {
    border: none;
    outline: 0;
    -moz-outline: 0;
    -ms-outline:0;
    -o-outline: 0;
    -webkit-outline: 0;
}
.dropdown-content {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 3.5rem;
    background-color: var(--alternate-bg-color);
    min-width: 15rem;
    padding: 1rem;
    margin: 0;

    z-index: 3;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
}
.show {display: block;}

.color-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 5rem;
    background: none;
    margin: 0 1rem 0 0;
    margin-bottom: 1rem;
    padding: 0;
}
.color-dropbtn {
    font-size: var(--navbar-font-size);
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    margin: 0;
    padding: .75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.color-dropbtn:focus, .color-dropbtn:active {
    border: none;
    outline: 0;
    -moz-outline: 0;
    -ms-outline:0;
    -o-outline: 0;
    -webkit-outline: 0;
}
.color-dropdown-content {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 3.5rem;
    /* left: var(--color-dropdown-content-left-margin); */
    background-color: var(--alternate-bg-color);
    max-width: 5rem;
    padding: 1rem;
    margin: 0;

    z-index: 3;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,1);
}
#colorsDropDown{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.show-colors{display: flex;}

#darkaquamarine-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #353535;
        border-radius: 5px;
        background-color:#284b63;
}
#coolmonochrome-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #253237;
        border-radius: 5px;
        background-color:#5c6b73;
}
#darkred-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #283d3b;
        border-radius: 5px;
        background-color:#c44536;
}
#ice-cream-cone-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #555b6e;
        border-radius: 5px;
        background-color:#89b0ae;
}
#fiery-earth-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #252422;
        border-radius: 5px;
        background-color:#eb5e28;
}
#bee-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #242423;
        border-radius: 5px;
        background-color:#f5cb5c;
}
#darkblue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #0d1b2a;
        border-radius: 5px;
        background-color:#1b263b;
}
#cyanblue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #03045e;
        border-radius: 5px;
        background-color:#00b4d8;
}
#c1blue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #293241;
        border-radius: 5px;
        background-color:#ee6c4d;
}
#purple-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #22223b;
        border-radius: 5px;
        background-color:#4a4e69;
}

#colorsDropDown > button:focus, #colorsDropDown > button:active {
    border: none;
    outline: 0;
    -moz-outline: 0;
    -ms-outline:0;
    -o-outline: 0;
    -webkit-outline: 0;

    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
}