#news-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

div.card {
    display: flex;
    flex-direction: var(--card-direction);
    align-items: center;
    justify-content: flex-start;

    width: 90vw;

    padding: var(--card-padding);
    margin: var(--card-margin);

    color: var(--main-color);
    background-color: var(--main-bg-color);

    border-left: var(--border-radius) solid var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: 0px var(--border-radius) var(--border-radius) var(--border-radius) rgba(0,0,0,0.75);
}

img.card__image {
    max-height: var(--card-image-dim);
    max-width: var(--card-image-dim);
    margin: var(--card-image-margin);
    border-radius: var(--border-radius);
}
h2.card__title {
    font-size: var(--title-font-size);
}

p.card__subtitle {
    font-size: var(--subtitle-font-size);
}