:root{
    --main-bg-color: #ffffff;
    --alternate-bg-color: #e5e5e5;
    --main-color: #000000;
    --accent-color: #fca311;
    --overlay-background: #ffffff;
    --navbar-color: #14213d;

    --title-font-size: 2rem;
    --subtitle-font-size: 1.25rem;
    --border-radius: 5px;

    --overlay-title-font-size: 3rem;
    --overlay-subtitle-font-size: 1.5rem;
    --overlay-font-size: 1.5rem;
    --overlay-margin: 2rem;
    --overlay-padding: 2rem;
    --close-button-size: 2rem;

    --article-width: 95vw;
    --article-height: 95vh;

    --card-direction: row;
    --card-image-dim: 15rem;
    --card-image-margin: 1rem;
    --card-padding: 1rem;
    --card-margin: 1rem;

    --navbar-content-alignment: flex-start;
    --navbar-space-around: 1rem;
    --navbar-width: 25rem;
    --navbar-font-size: 1.5rem;
    --max-articles-margin-bottom: auto;
    --papers-filter-dropdown-content__left-shift: 10%;

    --dropdown-margin-sides: 0rem;

    --color-dropdown-content-left-margin: 1rem;

    --watermark-opacity: 0.16;
    --watermark-size: 15rem;

    --color-buttons-size: 1rem;
    --color-buttons-margin: 0.25rem;
    --color-buttons-padding: 0.25rem;
    --color-buttons-border-size: 2px;

    --footer-font-size: 1rem;
}

@media (max-width: 650px) {
    :root{
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1.25rem;

        --overlay-title-font-size: 2.0rem;
        --overlay-subtitle-font-size: 1.25rem;
        --overlay-font-size: 1rem;
        --overlay-margin: 1rem;
        --overlay-padding: 0.75rem;
        --close-button-size: 1.30rem;

        --card-direction: column;
        --card-image-max-dim: 90%;

        --navbar-content-alignment: center;
        --navbar-width: 100vw;
        --navbar-font-size: 1.25rem;
        --max-articles-margin-bottom: 2rem;
        --papers-filter-dropdown-content__left-shift: 0;

        --dropdown-margin-sides: 0;

        --color-dropdown-content-left-margin: -60%;
    }
}