#darkaquamarine-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #353535;
        border-radius: 5px;
        background-color:#284b63;
}
#coolmonochrome-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #253237;
        border-radius: 5px;
        background-color:#5c6b73;
}
#darkred-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #283d3b;
        border-radius: 5px;
        background-color:#c44536;
}
#ice-cream-cone-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #555b6e;
        border-radius: 5px;
        background-color:#89b0ae;
}
#fiery-earth-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #252422;
        border-radius: 5px;
        background-color:#eb5e28;
}
#bee-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #242423;
        border-radius: 5px;
        background-color:#f5cb5c;
}
#darkblue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #0d1b2a;
        border-radius: 5px;
        background-color:#1b263b;
}
#cyanblue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #03045e;
        border-radius: 5px;
        background-color:#00b4d8;
}
#c1blue-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #293241;
        border-radius: 5px;
        background-color:#ee6c4d;
}
#purple-color {
        width: var(--color-buttons-size);
        height: var(--color-buttons-size);
        margin: var(--color-buttons-margin);
        padding: var(--color-buttons-padding);
        border: var(--color-buttons-border-size) solid #22223b;
        border-radius: 5px;
        background-color:#4a4e69;
}