<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcos - NewsApp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/overlay.css">
    <link rel="stylesheet" href="/static/css/watermarks.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/themes.css">
</head>

<body>
    <div id="menu">

        <div id="menu__color-dropdown">
            <button onclick="toggle_colors_dropdown()" id="menu__color-dropdown__dropdown-button">
                <i class="fa fa-fw fa-angle-down"></i>
            </button>
            <div id="menu__color-dropdown__dropdown-content">
                <button onclick="set_theme('darkaquamarine')" id="darkaquamarine-color"></button>
                <button onclick="set_theme('coolmonochrome')" id="coolmonochrome-color"></button>
                <button onclick="set_theme('darkred')" id="darkred-color"></button>
                <button onclick="set_theme('ice-cream-cone')" id="ice-cream-cone-color"></button>
                <button onclick="set_theme('fiery-earth')" id="fiery-earth-color"></button>
                <button onclick="set_theme('bee')" id="bee-color"></button>
                <button onclick="set_theme('darkblue')" id="darkblue-color"></button>
                <button onclick="set_theme('cyanblue')" id="cyanblue-color"></button>
                <button onclick="set_theme('c1blue')" id="c1blue-color"></button>
                <button onclick="set_theme('purple')" id="purple-color"></button>
            </div>
        </div>

        <input type="search" id="menu__keyword-search" oninput="update_screen(false)"
            placeholder="keywords separados por `,`">


        <input type="number" id="menu__max-articles" oninput="update_max_articles()" value="2">

        <div id="menu__papers-filter-dropdown">
            <button onclick="toggle_newspaper_filter_dropdown()" id="menu__papers-filter-dropdown__dropdown-button">
                <i class="fa fa-fw fa-filter"></i>
            </button>
            <div id="menu__papers-filter-dropdown__dropdown-content" class="dropdown-content">

                <input type="checkbox" id="endi_check" name="endi_check" value="endi" checked>
                <label for="endi_check">El Nuevo Dia</label><br>

                <input type="checkbox" id="vocero_check" name="vocero_check" value="vocero" checked>
                <label for="vocero_check">Vocero</label><br>

                <input type="checkbox" id="primera_hora_check" name="primera_hora_check" value="primera_hora">
                <label for="primera_hora_check">Primera Hora</label><br>

                <input type="checkbox" id="metro_check" name="metro_check" value="metropr" checked>
                <label for="metro_check">Metro PR</label><br>

                <input type="checkbox" id="claridad_check" name="claridad_check" value="claridad">
                <label for="claridad_check">Claridad</label><br>
            </div>
        </div>

        <div id="menu__sorters-dropdown">
            <button onclick="toggle_sorters_dropdown()" id="menu__sorters-dropdown__dropdown-button">
                <i class="fa fa-fw fa-sort"></i>
            </button>
            <div id="menu__sorters-dropdown__dropdown-content">
                <div>
                    <input type="radio" name="sort_order" id="menu__sorters-dropdown__inverse_chronological_order"
                        checked>
                    <label for="menu__sorters-dropdown__inverse_chronological_order">Recientes Primero</label>
                </div>
                <div>
                    <input type="radio" name="sort_order" id="menu__sorters-dropdown__chronological_order">
                    <label for="menu__sorters-dropdown__chronological_order">Antiguos Primero</label>
                </div>
                <div>
                    <input type="radio" name="sort_order" id="menu__sorters-dropdown__long-ascending">
                    <label for="menu__sorters-dropdown__long-ascending">Cortos Primero</label>
                </div>
                <div>
                    <input type="radio" name="sort_order" id="menu__sorters-dropdown__long-descending">
                    <label for="menu__sorters-dropdown__long-descending">Largos Primero</label>
                </div>
            </div>
        </div>

        <button id="menu__search" onclick="update_screen(); hide_menu();">
            <i class="fa fa-fw fa-search"></i>
        </button>

    </div>
    <button id="menu__open-button" onclick="toggle_menu()">&#9776;</button>


    <div id="overlay">
        <div id="overlay__news-article"></div>
    </div>


    <div id="news-articles"></div>


    <!-- <footer>Copyright 2020, M4rqu1705</footer> -->

    <!-- SCRIPT -- SCRIPT -- SCRIPT -- SCRIPT -- SCRIPT -->
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="/static/js/globals.js"></script>
    <script src="/static/js/overlay.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/themes.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>